/* -----------------------------
   Monthly Category Totals Table Styling
----------------------------- */
.table-fix {
    table-layout: fixed;
}
.card-body {
    padding: 0.5rem;
    padding-bottom: 0.01rem;
}
/* -----------------------------
   Expenses Table Column Alignment
----------------------------- */
.col-index {
    width: 5%;
    text-align: center;
}
.col-date,
.col-type,
.col-category {
    width: 15%;
    text-align: center;
}
.col-amount {
    width: 15%;
    text-align: right;
}
.col-description {
    width: 25%;
    text-align: left;
}
.col-action {
    width: 10%;
    text-align: center;
}
/* -----------------------------
   Chart Container
----------------------------- */
/* -----------------------------
   Pagination Styling
----------------------------- */
.pagination .page-link {
    color: #0d6efd;
}
.pagination .page-item.active .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}